[2017-07-21 21:03] alexfu opened #1 "Crash when triggering bug reporter"
**Device**: Pixel XL
**SDK Version**: 0.9.10
**Android Version**: 7.1.2

When triggering the crash reporter via shake or screenshot, I get a crash from the SDK...

[code]

After looking into it (https://github.com/Buglife/buglife-android/blob/master/src/main/java/com/buglife/sdk/Client.java#L321), `AlertDialog`s cannot be used with an Application context.

[2017-07-21 21:04] alexfu commented on #1
Potential fix that I can think of immediately is to launch an invisible Activity that then shows the AlertDialog.

[2017-07-24 06:08] schukin commented on #1
This should be fixed by 585eac9. Please update to buglife-android v0.9.11.

Also, thanks for reporting this! 😎

[2017-07-26 13:17] alexfu commented on #1
@schukin I'm still getting this crash. Did some further digging and discovered that it's a combination of a couple things.

1. Having `compileSdkVersion` and `targetSdkVersion` set to 26.
2. Setting `WindowManager.LayoutParams.TYPE_TOAST` on dialog window. (https://github.com/Buglife/buglife-android/blob/master/src/main/java/com/buglife/sdk/Client.java#L347)

Bumping down my `compileSdkVersion` an

[2017-07-26 22:48] schukin commented on #1
Whoops! Looks like we closed this prematurely, sorry about that. Investigating...

[2017-07-26 22:56] #1 closed

[2017-07-26 22:59] schukin commented on #1
K, this should be *actually* fixed with 9b78c86 (published in buglife-android v0.9.12). Verified the fix on our end, but please let us know if you run into any other issues. Thanks for your help investigating this!

[2017-07-27 11:17] alexfu opened #3 "AttachmentAdapter performance"
I found that the `AttachmentAdapter` had performance issues when it came to the example app. Most noticeably was the touch selector on the attachments was very janky. The problem ended up being the attached walter image. Being that it's 1201 x 1600 in size and that the bitmaps are not scaled down for thumbnail size, a lot of time is being spent on rendering this image. Take a look at the following

[2017-07-27 11:18] alexfu commented on #3
I'd be happy to submit a PR for this issue.

[2017-07-27 11:25] alexfu opened #4 "Generating report blocks UI thread"
When generating the report (after clicking send) in the example app, the app becomes unresponsive for a short period of time because the [`getReportParams`](https://github.com/Buglife/buglife-android/blob/master/src/main/java/com/buglife/sdk/Client.java#L409) method takes too long to serialize the report.

It takes too long because of the attachments. If you comment out [this section](https://gith

[2017-07-27 17:42] schukin commented on #3
Ah yes; so since walter.jpg is in the `drawable` resource directory (vs. `drawable-nodpi`), it is being scaled up due to the screen density when it is decoded to a Bitmap. i.e. on a Pixel XL, walter.jpg becomes 4204x5600, however a regular screenshot is only 1440x2560. Commit 894db89 removes walter.jpg from the example report, since we only use this image for internal testing / optimization, and "

[2017-07-27 17:51] alexfu commented on #3
@schukin interesting, I hadn't realized that images under `drawable` get scaled. makes sense now that I think about it.

![](https://media.giphy.com/media/3og0IMJcSI8p6hYQXS/giphy.gif)

[2017-07-28 03:08] #3 closed

[2017-08-07 17:16] alexfu opened #6 "Loupe annotation artifacts"
When using the loupe annotation, I get the following [artifact](https://user-images.githubusercontent.com/987398/29037490-e7213d02-7b71-11e7-861f-c0ea99f4f07b.png). This artifact only occurs occasionally. Other times, the button simply doesn't get rendered at all. I tested this on an Android device with API 25.

[2017-08-09 08:55] DaVinAhn opened #7 "Exception when restore PermissionHelper in other Activity."
SDK Version:

0.9.10

Situation is like under:

1. Start `Main Activity`.
2. Start `Sub Activity`.
3. Generating report and send. (Attached `PermissionHelper` to `Sub Activity`)
4. Finish `Sub Activity`.
5. Exception.

Exception Log:

[code]

**Proposed solution:**

Please add `public` access modifiers in `PermissionHelper` class declare.

[2017-08-09 13:39] alexfu commented on #7
@DaVinAhn Before a fix is applied, could you provide a little more context? Your steps to reproduce is a little unclear. Which invocation method (screenshot, shake, etc) are you using? What's `Main Activity` and what's `Sub Activity`? What do you mean when you say:

Can you share your `MainActivity.onCreate` code since that's where the crash is happening (line 58)? I can't reproduce this so I'd li

[2017-08-09 16:34] DavinAhn commented on #7
@alexfu I'm sorry, I didn't have enough explanation.

I used `SCREENSHOT` invocation method. And, `Main Activity` and `Sub Activity` are my mistakes. It is a simple activity name. (ex: `Main Activity` -> `MainActivity`)

The specific steps are as follows:
1. Launch app.
2. Buglife initialization in `Application` subclass. (Used `SCREENSHOT` invocation method.)
3. Started `MainActivity` from `Appli

[2017-08-09 23:01] #7 closed

[2017-08-17 06:35] #6 closed

[2017-08-17 06:37] schukin opened #10 "Drawing annotations is slow"
`AnnotationView.onDraw` appears to be continuously redrawing the image/screenshot attachment when annotations are being drawn/changed. See e3aa710

[2017-08-18 12:53] alexfu commented on #10
@schukin any chance you can provide a screen recording? I'm not 100% sure that I'm able to reproduce with the devices I have.

[2017-08-22 20:24] schukin commented on #10
Turns out I'm unable to reproduce this anymore. False alarm – sorry everyone!

[2017-08-22 20:24] #10 closed

[2017-09-10 11:04] shaii28 opened #11 "Buglife crashing when reporting crash via screenshot"
buglife android sdk version 0.9.14 crashes when trying to report a bug via screenshot trigger
on Android 6.0

Steps:
launch an app with the bug life android SDK 0.9.14
Take a screenshot
Press report a bug in the dialog
Click on the Arrow in the action bar

Expected result:
Bug is reported

Actual result:
buglife crashes

See exception log
[buglifecrash.txt](https://github.com/Buglife/buglife-andro

[2017-09-11 11:42] alexfu commented on #11
@shaii28 the crash report says that the attachment type is `text/plain`, which is interesting because the SDK doesn't use that type for screenshots. I suspect you are you attaching your own files in addition to the screenshot?

[2017-09-11 18:37] #11 closed

[2017-09-11 18:37] schukin commented on #11
Fixed in 57493b1; We'll issue a new release shortly. Thanks everyone!

[2017-09-11 18:40] schukin opened #12 "Unable to manually stop screen recording on Android 7"
1. Tap "Record Screen" button in the example app
2. Allow screen recording to begin
3. Tap the red "Stop recording" button in the status bar

Expected result: Screen recording should stop, and ReportActivity should be presented.
Actual result: Tap event is captured at the OS level, which shows a notification tray hint animation.

This button seems to work fine in Android 6, oddly.

[2017-10-18 11:08] spinillos opened #13 "Ask for permissions when do a snapshot"
After set `Buglife.setInvocationMethod(InvocationMethod.SCREENSHOT)`, if the user don't want to accept the permission, it asks for it in every activity that the user opens. It's very annoying.

It could be fine if the `setInvocationMethod` only do that, set it; and ask for the permission when the user wants to report a bug.

[2017-10-19 19:23] #13 closed

[2017-10-19 19:34] schukin commented on #13
Thanks for reporting this @spinillos! This has been fixed & released in Buglife Android v0.9.15.

[2017-10-24 16:00] alexfu commented on #12
@schukin Would you be open to using a floating button as a way to stop recording as opposed to having it in the status bar? A persistent notification could also work but I'm not too sure it'll be obvious to users.

[2017-10-24 18:00] schukin commented on #12
@alexfu Absolutely! This is exactly what we had in mind. Any suggestions on the best way to go about doing this?

[2017-10-24 20:00] alexfu commented on #12
@schukin I'm envisioning a small circular button that can be moved around and when clicked, it will stop the recording.

If this sounds good to you, I can start working on a prototype?

[2017-10-24 20:08] schukin commented on #12
@alexfu that sounds ideal. 👌💯 By all means, go ahead!

[2017-10-31 23:43] #12 closed

[2017-11-02 10:27] DaVinAhn opened #17 "Exception when submit report."
SDK Version:

0.9.14

Situation is like under:

1. Launch app.
2. Buglife initialization in `Application` subclass. (Used `SCREENSHOT` invocation method.)
3. Started `MainActivity` from `Application` subclass.
4. Did screenshot.
5. Submit report.
6. Exception occurred during dismissing `ReportActivity`.

Exception Log:
[code]

Test Device:

Huawei Nexus 6P (Android 7.1.1) -- **Occurs only on this

[2017-11-02 21:53] #17 closed

[2017-11-03 00:07] schukin commented on #17
Thanks for the detailed bug report @DaVinAhn! Just released v0.9.16, which includes a fix for this.

[2017-11-03 02:14] alexfu opened #18 "Defer bug report processing"
Currently, sending bug reports requires a network connection. If a network connection is not available, an error is thrown and the user will need to send the report again at a later time.

This proposal is to allow the SDK to handle the deferment for the user so that even if there is no network connection, we will persist the request and try again later.

This will consequently resolve #4 and also

[2017-11-06 23:27] schukin commented on #18
Yes! Buglife iOS already does this; upon tapping "Send", the bug reporter UI is dismissed and the bug report is submitted asynchronously. If for whatever reason the report fails to send, then it is cached on the device storage & we re-attempt submission on the next "cold" application launch. (iOS applications are usually terminated by the OS ~10 minutes after they've been backgrounded)

I don't kn

[2017-11-07 14:41] alexfu commented on #18
@schukin Since Android 8.0, background services now have similar restrictions to iOS in that a background service will be killed after a certain period of time.

The recommended way to handle long running tasks is to use the [JobScheduler](https://developer.android.com/topic/performance/scheduling.html#js) API. However, it is only available from API 21+.

I don't think dropping support for everyth

[2017-11-07 23:38] schukin commented on #18
Hmmm. We'd like to avoid bringing in additional dependencies if possible, since many SDK consumers are highly sensitive to this. And we take pride in shipping a lightweight SDK :)

Would it be possible to simply use JobScheduler when running Android 5+, and fall back to synchronous report submission on anything lower than 5?

[2017-11-08 03:41] alexfu commented on #18
@schukin I think that's completely fine to begin with. I wasn't sure if feature parity was of a huge deal for all supported platforms. I'll go ahead and get started on that!

[2017-11-10 22:47] #18 closed

[2017-11-10 22:48] #4 closed

[2018-02-19 14:10] oferRounds opened #26 "App Crashes when shaking device"
http://crashes.to/s/df6536c6718

[2018-02-21 03:30] schukin commented on #26
Ofer - Can you share a stack trace? We're able to view that Crashlytics link, but unfortunately it doesn't tell us anything other than # of occurrences and device type. :(

[2018-02-21 07:26] oferRounds commented on #26
Strange! Not sure why it’s not showing the stack trace, I’ve made it public. Anyhow, I attached a screenshot:

<img width="1169" alt="screen shot 2018-02-21 at 9 25 40" src="https://user-images.githubusercontent.com/1477963/36467836-4e10a652-16e9-11e8-9c84-5d756daff5d5.png">

[2018-02-21 21:40] danhd123 commented on #26
Hi Ofer, it looks like you're using an old version of Buglife. Would you mind updating to 1.2.4 and seeing if the problem still occurs?

Also can you check your logs for a line that looks like this:
`W/View: View too large to fit into drawing cache, needs 19324704 bytes, only 16384000 available`

[2018-03-01 20:50] shaishavgandhi05 opened #27 "Dependency Volley not found."
Version : 1.3.0

App crashes on Runtime with the following exception:
`com.buglife.sdk.Buglife$BuglifeException: Unable to initialize Buglife. Dependency `com.android.volley:volley` not found
                                                                       at android.app.ActivityThread.handleBindApplication(ActivityThread.java:5794)

[2018-03-05 12:37] oleshkevych opened #28 "Crash on Oreo."
Hi!
Got report from fabric from Pixel with android 8.

`Caused by java.lang.IllegalStateException: Not allowed to start service Intent { cmp=io.comgy.mgm_android.stage/com.buglife.sdk.reporting.SubmitReportLegacyService }: app is in background uid UidRecord{4a8e769 u0a90 CEM  idle procs:1 seq(0,0,0)}
       at android.app.ContextImpl.startServiceCommon(ContextImpl.java:1505)
       at android.app.

[2018-03-05 20:38] schukin commented on #28
Hi @oleshkevych - can you tell us which version of buglife-android you're using?

[2018-03-05 20:45] schukin commented on #27
Hi @shaishavgandhi05 - Thanks for reporting this! To fix this, you'll need to explicitly import Volley as a dependency. We'll update the README to reflect this, please let me know if you continue to experience issues.

[2018-03-05 21:54] ShaishavGandhi commented on #27
It doesn't make sense to place the dependency burden of the library on it's consumer. I see that you do import volley in the library. Why would i need to import it myself in the app?

[2018-03-05 22:19] schukin commented on #27
You're absolutely right! This is actually a bug in the latest release of buglife-android 😬 We're working on fixing this our next release, but in the meantime we can only suggest either

1. Adding the dependency manually
2. Downgrading to buglife-android v1.2.4, which doesn't experience this issue

Sorry for the trouble. We're working on fixing this, and fixing it the *right* way.

[2018-03-05 22:23] ShaishavGandhi commented on #27
Awesome! Thanks.

[2018-03-06 03:25] oleshkevych commented on #28
Hey @schukin Thanks for quick reaction! :)
All that I have in the app
[code]
[code]

[2018-03-07 17:50] ShaishavGandhi commented on #27
Hi @schukin , looks like 1.2.4 also has the same issue.

[2018-03-18 13:07] alexfu commented on #28
@oleshkevych looks like the stacktrace doesn't match up with your code in `MyApplication`.

Last line of stacktrace references:

[code]

whereas in your code you do `Buglife.initWithApiKey`.

So it's possible this was happening on an older version of your app (and an older version of Buglife) but has since been resolved. Can you confirm this? I was unable to reproduce on my Pixel 2 w/ Oreo.

[2018-03-18 14:17] oleshkevych commented on #28
@alexfu Sorry for this. You are right. Init method was changed after I reported this. But in general it should n't change anything, version wasn't changed. I faced this issue also on Pixel and think that there is something with starting service from background according to this: [link](https://developer.android.com/about/versions/oreo/background.html)

[2018-03-25 01:02] silviahisham commented on #28
Same issue happened with me as well, reported on 3 oreo devices. Using Buglife 1.3.0

[2018-03-28 18:33] Xenero opened #31 "Theming not working"
I've added the following to my colors.xml file however it seems to not work.

The expected behaviour here is that it would change the color of the toolbar icons and text to the color specified however it just remains black. Is someone able to tell me if I've misunderstood or if there is a known way to change these colors?

`<color name="buglifeTextColorPrimary">@android:color/white</color>`

[2018-03-29 01:07] #28 closed

[2018-03-29 02:44] danhd123 commented on #31
Hi @Xenero, we're working on a fix now. Should be up in 1.3.1 shortly.

[2018-03-29 02:53] #31 closed

[2018-04-01 14:28] alexfu commented on #27
I just updated to `1.3.1` and it's still throwing this error for me... 🤔

[2018-04-02 14:10] arnab-kundu opened #32 "The app is crashing if before sending a Bug report if you click on the captured screenshot and try to reopen it."
The app is crashing if before sending a Bug report if you click on the captured screenshot and try to reopen it.

![device-2018-04-02-193515](https://user-images.githubusercontent.com/18009010/38199177-6574e8e2-36ad-11e8-953e-6ef4c87b3ce6.png)

This is the error log I am getting.

E/AndroidRuntime: FATAL EXCEPTION: main
                                                                           Pro

[2018-04-02 14:11] arnab-kundu commented on #32
I would like to inform I am using latest versio0n i.e. compile 'com.buglife.sdk:buglife-android:1.3.1' in my gradle

[2018-04-06 22:27] dshen6 opened #34 "On Kitkat+ devices, WRITE_EXTERNAL_STORAGE is granted implicitly, but explicitly checked."
Additional context: Because of `checkPermissions()` in `Client.java`, devices running Kitkat+ have to add the following to their AndroidManifest:

`<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="{28 or whatever your max supported api version is}" tools:replace="android:maxSdkVersion"/>`

so that the app doesn't crash when starting the Bugli

[2018-05-31 13:13] balrampandey19 commented on #27
Same here ,updated to 1.3.1 and still same error.

[2018-05-31 13:13] balrampandey19 opened #35 "Unable to initialize Buglife. Dependency `com.android.volley:volley` not found."
can you guys please this issue asap. You had closed this issue but i am still getting this error on your latest release.

[2018-05-31 19:12] schukin commented on #35
Hi @balrampandey19 - can you try downgrading to 1.2.4, and see if the error still occurs?

[2018-06-01 08:56] balrampandey19 commented on #35
Hi @schukin  i downgraded to 1.2.4 but i still getting same error.

[2018-06-06 22:20] Abdelrhmanwalid opened #36 "Don't show a toast when the storage permission is denied"
If the storage permission is denied a toast is shown on every activity, which can get annoying.
I think it can be replaced with a log message instead.
If that's OK with you I can implement it and submit a PR.

[2018-06-08 20:09] schukin commented on #36
@Abdelrhmanwalid - we're more than happy to accept PRs :)

[2018-06-11 13:08] lazyFloyd opened #38 "Is SYSTEM_ALERT_WINDOW Permission necessary?"
Hi guys,

today we wanted to rollout app update, which included Buglife as a new feature, but then we got the [following message in Google Play Console](https://imgur.com/a/VeX11b5) saying that users are going to need accept android.permission.SYSTEM_ALERT_WINDOW permission in order to get the latest update. Since our app has a lot of users, we think many of them will reject upgrading to the lates

[2018-06-11 18:55] schukin commented on #38
Sorry for the trouble!

The `android.permission.SYSTEM_ALERT_WINDOW` is included in order to present activities / dialogs from anywhere in the host app, i.e. confirmation dialogs for showing the bug reporter, or showing the bug reporter itself. You can find other examples of this [here](https://github.com/noln/system-alert-window-example) and [here](https://gist.github.com/bjoernQ/6975256).

Requi

[2018-06-11 20:18] #36 closed

[2018-06-12 10:29] jibon57 opened #39 "Custom Fields Required?"
Hello,

How to add required Custom Fields as iOS?

Thanks

[2018-06-12 12:13] jibon57 opened #40 "Adding Custom Fields crashed during submission"
Hello,

When I am trying to add custom fields following this: https://buglife.com/docs/android/custom_fields it's showing fields in the report form. But when I am trying to submit that time getting following errors. This working fine without custom fields. **Note**: `I am using NativeScript to use this library.`

[code]

[2018-06-12 20:46] schukin commented on #39
You can find information on adding custom fields via our documentation [here](https://buglife.com/docs/android/custom_fields).

[2018-06-12 20:46] #39 closed

[2018-06-15 14:24] tundisi opened #41 "App Crash in android 8"
Hello, Good Day.

I'm having problems on Android 8 when I try to use bug life, but all in samgsum devices, I hope you can help me solve it.

![screen shot 2018-06-15 at 10 21 34 am](https://user-images.githubusercontent.com/16090751/41472963-e92405bc-7085-11e8-9dc8-e175244a00a6.png)

[2018-06-22 18:07] schukin commented on #41
Hi - what is your `compileSdkVersion` and `targetSdkVersion`?

[2018-06-26 17:15] joejune commented on #41
I'm seeing similar crashes reported as well.

[code]
![crashes](https://user-images.githubusercontent.com/23319269/41928448-1202e456-792a-11e8-8be3-25eb0371e45c.png)

[2018-06-27 02:05] tundisi commented on #41
hi my compileSdkVersion is 27, buildToolsVersion '26.0.2' , targetSdkVersion 26

[2018-06-27 15:31] joejune commented on #41
Looks like this may be fixed in the 1.3.1 release, specifically 9d40de4.  I am trying this now.

[2018-06-28 22:34] dgluhovic opened #42 "custom BugReporter impl"
We are trying to send bug reports to our backend.  Afaict there's no way to provide a custom bug reporter.  Please consider adding something like

`    public static void initWithBugReporter(@NonNull Application application, @NonNull BugReporter bugReporter, @NonNull String apiKey) {
        mClient = new Client(application, bugReporter, new ApiIdentity.ApiKey(apiKey));
    }`

or better yet

`pub

[2018-06-28 23:10] schukin commented on #42
Hi @dgluhovic - have you tried using one of the built-in Buglife [integrations or webhook API](https://buglife.com/docs/integrations)?

[2018-06-28 23:20] dgluhovic commented on #42
@schukin we'd previously integrated with Asana but now want to point to our backend with user auth token, no api keys.

[2018-06-29 11:29] nosyjoe commented on #40
I had the same issue - it happens because the when you add a custom field, the summary field does not get added automatically, but is expected to be and then crashes.

A simple workaround is to add the field explicitly in addition to your custom fields, e.g.:

[code]

This should probably be automated when one calls `Buglife.setInputFields()`

[2018-06-29 12:40] jibon57 commented on #40
@nosyjoe thank you very much !! It's working now. Is there any way to make the fields required? I mean at present anyone can avoid to fill up the field & submit report but I need to know few extra information. Is it possible to make the field compulsory to fill up?

[2018-06-29 21:29] schukin commented on #42
Gotcha. So while developers are free to maintain their own fork of the Buglife SDK, we only officially support on-premise / custom backends as part of our [Enterprise plan](http://buglife.com/pricing). Reason for this is because new versions of our client SDKs occasionally contain breaking changes to their contracts with the backend API, which subsequently must be updated for the new SDK releases

[2018-06-29 21:51] dgluhovic commented on #42
Understood, was worth a try:)  We're planning to store the data in our primary db and integrate with our admin pages.  A public API is feasible in theory but more work than we’re allocating for.  Not sure our service has any such hooks at this point.

Thanks for the library, very handy.  Please consider removing that log file delete.

[2018-06-29 21:51] #42 closed

[2018-07-03 13:35] tundisi commented on #41
Hi @joejune, did it work for you?

[2018-07-03 15:57] joejune commented on #41
@tundisi: Yes, absolutely.  I went from many thousands of crashes per user to zero.  If you look at the crash stack trace and the code change in 9d40de4, it's quite clear that it fixes the cause of the crash.

If I had reported this issue, I would mark it as resolved.

[2018-07-04 03:22] tundisi commented on #41
thanks @joejune , I'll do the test and comment if I get some error

[2018-08-01 02:12] naturalwarren opened #43 "Stop Reflectively Looking Up Dependencies"
These dependencies should be bundled as part of Buglife. Why look them up at runtime to see if they're on the classpath?

https://github.com/Buglife/buglife-android/blob/master/src/main/java/com/buglife/sdk/Buglife.java#L251

[2018-08-01 03:53] #41 closed

[2018-08-01 04:46] #34 closed

[2018-08-01 04:46] #40 closed

[2018-08-01 04:46] #43 closed

[2018-08-01 09:30] schukin commented on #43
Thanks @naturalwarren! This is fixed & released in v1.3.2.

[2018-08-01 14:37] tundisi commented on #41
Hello everyone

I write this as a help to be able to use buglife without problems.

Initially added to the `com.buglife.sdk library: buglife-android: 1.3.1`, getting an error that does not find volley. Looking for errors I found that I asked to degrade to version `1.2.4` and in that version I got the error found in this thread (Solved in version 1.3.1).

In order to run version 1.3.1 you must incl

[2018-08-16 20:33] felipecastilhos opened #44 "Bug Button not showing"
I'm trying to setup the buglife in my project like this:
`            Buglife.initWithEmail(application, "random@email.com")
            Buglife.setInvocationMethod(InvocationMethod.BUG_BUTTON)`

But the button its not showing up.

Is some step that I skipped?

[2018-08-16 22:33] schukin commented on #44
Hi @felipecastilhos - Apologies, the bug button isn't currently implemented on Android at the moment; that API shouldn't be exposed. Sorry for the confusion!

(For what it's worth, we generally recommend most apps to use the `SCREENSHOT` invocation, which comes more naturally to users. Although you may also implement your own custom invocation.)

[2018-08-17 14:28] felipecastilhos commented on #44
Ok, thanks. We can close it for now.

[2018-08-17 14:28] #44 closed

[2018-08-22 19:20] felipecastilhos opened #45 "Language support"
Hi, can I configure language support? I want to change it to pt-br.  There is any way that I could accomplish it?

[2018-08-22 19:23] felipecastilhos opened #46 "Asking permission when starting the app"
I know this happens because I started the service on my application. But there is any way I could configure it to ask just when the user take the screenshot?

[2018-08-22 20:41] schukin commented on #46
Unfortunately no; permissions are required to be able to detect screenshots to begin with.

I can suggest a couple workarounds:

* Start Buglife later on in your app lifecycle (i.e. after the user has made it through the sign-up flow)
* Add an option in your app's settings menu to either show the bug reporter directly, or to enable Buglife (thereby requesting permissions)

[2018-08-22 21:03] schukin commented on #45
Buglife uses a strings resource file internally for English. You should be able to add pt-br by adding another strings resource file in your own app, using the same string keys as Buglife.

[2018-08-23 16:30] felipecastilhos commented on #45
Ok thanks, this should work for now

[2018-08-23 16:30] #45 closed

[2018-10-07 19:34] vicky7230 commented on #27
Updated to 1.3.1 and still same error.

[2018-10-07 19:48] schukin commented on #27
Hi @vicky7230 - please update to 1.3.2, which should fix this issue.

[2018-10-24 16:07] samrombswm opened #47 "jsonObjectRequest error launching app"
Hello I have tried version 1.3.2 and am getting this error when launching the app.

[code]

[2018-10-24 16:48] schukin commented on #47
@samrombswm - yowza. 😬 We're looking into this right now, should have an update for you within a few hours. Apologies for the road bumps, and thanks for reporting this.

[2018-10-24 18:49] schukin commented on #47
Alright, so this appears to be caused by a missing Volley dependency, which we changed to an `api` dependency internally a while ago to properly support React Native.

We're still figuring out the "right" way to properly fix this while maintaining RN support, but in the meantime you can work around this by adding the Volley dependency explicitly to your `build.gradle`:

[code]

I'll update this th

[2018-10-25 18:11] schukin opened #48 "Volley must be explicitly added to build.gradle"
Buglife currently requires Android volley to be explicitly added to the host app's `build.gradle`. i.e.

[code]

This is obviously sub-optimal; this issue is to track progress towards removing that step entirely, and allowing host apps to integrate Buglife with only a 1-line change to their `build.gradle`, i.e.

[code]

[2018-10-25 18:13] schukin commented on #47
Just a quick update here - we're still chugging away at figuring out a perma-fix here, since having to explicitly add Buglife's dependencies admittedly sucks.

This has been an existing issue on & off (depends on things like build environment, etc), but we've done a shit job of documenting it. I've gone ahead and updated the README to include steps to add Volley, since it's inexcusable that the ba

[2018-10-25 18:13] #47 closed

[2018-10-25 18:15] schukin commented on #48
For posterity: when Volley is omitted from the host application, a crash occurs on launch (see #47, credit due to @samrombswm).

[2018-10-26 17:01] #46 closed

[2018-10-27 01:09] alexfu commented on #48
@schukin just out of curiosity, how are you publishing to maven? as an experiment, i would try publishing to jitpack.io and compare the results.

[2018-10-28 19:02] schukin commented on #48
Turns out this was caused by a missing dependency in the POM file. 🤦🏻‍♂️ (Thanks @danhd123 for getting to the bottom of this!)

buglife-android 1.3.3 has been released, which resolves this issue. Thanks @alexfu @samrombswm!

[2018-10-28 19:02] #48 closed

[2018-10-28 19:03] schukin commented on #35
This is fixed in Buglife 1.3.3.

[2018-10-28 19:03] #35 closed

[2018-10-28 19:04] schukin commented on #26
Closing this issue because we've still been unable to reproduce it. @oferRounds please feel free to re-open or comment if you're either still encountering this issue, or have any additional information to share. Thanks!

[2018-10-28 19:04] #26 closed

[2018-10-28 19:04] #38 closed

[2018-12-17 17:02] schukin opened #49 "E/Parcel: Class not found when unmarshalling: com.buglife.sdk.FileAttachment"
A user emailed reporting a crash that occurs when a ScreenshotActivity is opened, either via shake or tapping the attachment in the ReportActivity.

This was reported to occur on API 26, with v1.3.3 of Buglife, compileSdkVersion 27, targetSdkVersion 26, minSdkVersion 21.

I've yet to reproduce this myself on a variety of devices, APIs and build configurations unfortunately :-/

[2018-12-17 21:49] schukin commented on #49
This *might* be fixed in buglife-android 1.3.4; we are currently working on verifying this, as we've yet to find a device that reproduces it.

[2019-01-04 21:41] schukin commented on #49
It turns out this was caused by a different library in the host app.

[2019-01-04 21:41] #49 closed

[2019-01-05 00:06] Sonphil opened #50 "Move the summary field title to strings.xml"
I'm trying to localize the strings. However, the summary title is hardcoded [here](https://github.com/Buglife/buglife-android/blob/master/src/main/java/com/buglife/sdk/TextInputField.java#L69).

Can the title be moved to the strings resource file so that I can override it in my app?

[2019-01-08 21:55] schukin commented on #50
Hi @Sonphil - can you submit a PR? Then we can merge it and ship a new build.

[2019-01-10 05:07] #50 closed

[2019-02-20 07:54] oferRounds opened #52 "Crash"
See more info here: http://crashes.to/s/c4ec0bcd1b7

[2019-02-22 21:44] schukin commented on #52
This appears to be caused by React Native, so closing this and re-opened here: https://github.com/Buglife/react-native-buglife/issues/16

[2019-02-22 21:44] #52 closed

[2019-02-22 21:59] oferRounds commented on #52
Cool :)

[2019-03-04 05:02] naturalwarren opened #53 "Doesn't work with Material Themes"
With material theming you don't set a `colorAccent`, without it buglife blows up.

[code]

[2019-03-04 05:07] schukin commented on #53
Thanks @naturalwarren! We're looking into this asap.

[2019-03-04 08:05] danhd123 commented on #53
Hi @naturalwarren, based on what you've told us, we've got a patch that *should* fix your issue. Try updating to buglife-android 1.4.2 and let us know if you're still encountering the issue, or any others for that matter.

-Daniel

[2019-03-04 08:05] #53 closed

[2019-03-05 15:53] oferRounds opened #54 "On modal, screen capture parent screen instead of child"
Any idea how to solve?

[2019-03-06 12:53] schukin commented on #53
@naturalwarren - just wanted to follow up to confirm, does this fix the crash you were seeing?

[2019-03-08 00:13] danhd123 commented on #54
Thanks for reporting this bug. It should be fixed in 938e5ee; we'll be issuing a release fairly soon. Let us know if that solves the problem.

[2019-03-08 01:11] naturalwarren commented on #53
I haven't bumped onto the latest version, yet.

[2019-03-10 23:41] naturalwarren commented on #53
Works. Thank you!

[2019-03-11 12:13] R4md4c opened #55 "Any chance of replacing Volley with OKHttp?"
Any chance of replacing Volley's network stack with OKHttp which is considered a more modern and efficient alternative to Volley?

I know that Volley can work together with OKHttp, but since probably most of the apps that I've seen uses OKHttp in one way or another (e.g Retrofit which uses OKHttp implicitly), devs won't need to explicitly add Volley as dependency.

[2019-03-12 02:20] schukin commented on #55
Sure! Would you be opposed to submitting a pull request? We're not _super_ familiar with OKHttp, but it seems fine on the surface, so should be an easy merge. :)

[2019-03-13 07:12] danhd123 commented on #54
Fixed in 1.4.3

[2019-03-13 07:12] #54 closed

[2019-03-13 07:12] danhd123 commented on #55
Merged in 1.4.3

[2019-03-13 07:12] #55 closed

[2019-05-30 15:18] timc-mediamonks opened #58 "Saving annotated screenshot fails"
Sdk version: 1.4.3
Test device: pixel 3 android 9
Invocation method: screenshot

After adding some arrows, blurs etc, sending the report consistently produces this error
[code]

The report is sent, but only the original screenshot is attached, the annotations are lost.

[2019-06-03 23:27] schukin commented on #58
Thanks for reporting this! We're working on a fix, and will release an update ASAP.

[2019-06-04 01:39] danhd123 commented on #58
Hi Tim,

We're looking into this; in the meantime, can you give us a few more details?

Did you allow your app to access media/photos? If that permission is not granted, Buglife cannot watch for screenshots.

What other SDKs are you using? In particular, are you using Vungle?

[2019-06-04 09:10] danhd123 commented on #58
Also if you have a sample project which reproduces this, that'd be awesome!

[2019-06-04 09:28] timc-mediamonks commented on #58
Yes.. as you can see the error occurs in ScreenshotAnnotatorActivity.

The stacktrace above is slightly obfuscated, here is a clearer one

[code]

The error occurs on android 8 and 9, but not on 7. Did not test on 6 and below.

I'm not using vungle. The issue is unrelated to other dependencies. I have a blank project here that demonstrates the issue: https://github.com/MediaMonksMobile/BuglifeErro

[2019-06-04 10:04] timc-mediamonks commented on #58
I already found the problem and am working on a fix, you can expect a PR later today

[2019-06-04 14:53] timc-mediamonks opened #60 "Request: make including device location in report optional"
Currently the `EnvironmentSnapshot` checks if COARSE or FINE location permission has been granted to the app and if so, it attempts to include a location in the report.

Given that

- location data is extremely privacy sensitive. Collecting this data is subject to privacy laws depending on where you are. Also [apps that do this must have a privacy policy both in the play store and in the app itsel

[2019-06-04 22:18] danhd123 commented on #60
Great point on privacy, I’ll see if we can get that into the next release. Thanks!

[2019-06-04 22:57] danhd123 commented on #58
Thanks, Tim, really awesome.

[2019-06-05 00:30] #58 closed

[2019-06-05 10:22] danhd123 commented on #60
Fixed in the v1.5.0 release, including a switch and better documentation. Thanks again!

[2019-06-05 10:22] #60 closed

[2019-06-16 18:12] Abdelrhmanwalid opened #61 "RECEIVE_BOOT_COMPLETED permission removed"
In the latest version 1.5.0 `RECEIVE_BOOT_COMPLETED` permission was removed
I think that it's still needed for jobs to persisted
https://github.com/Buglife/buglife-android/blob/c4a681fe6703481325002ef38825d1f15b448b13/src/main/java/com/buglife/sdk/BugReporterImpl.java#L128

https://developer.android.com/reference/android/app/job/JobInfo.Builder.html#setPersisted(boolean)

without the permission th

[2019-06-16 22:49] danhd123 commented on #61
Fixed in d6b60e1

[2019-06-16 22:49] #61 closed

[2019-06-16 22:51] danhd123 commented on #61
Thanks for the report, @Abdelrhmanwalid. This is fixed in 1.5.1. Apologies for the inconvenience.

[2019-07-01 21:39] duncancarroll opened #62 "Permissions-related crash"
Library crash when enabling screenshot invocation method.
Phone is a Pixel 3 XL on API 28:

[code]

[2019-07-01 21:41] duncancarroll opened #63 "CodecException when recording video"
Phone: SM-N950U, SDK 28
Using Buglife 1.5.1

[code]

[2019-07-01 22:19] duncancarroll opened #64 "P0: Cannot reply to bug reporters, emails gone."
BugLife library version 1.5.1
Client code calls the following code within `Application.onCreate()`:
[code]

Until very recently this worked as expected and email addresses showed up as expected in the BugLife web reporting interface, however today they are displaying only as userId's (see screenshot), which prevents us from replying to the user.  No changes to the client have been made.

This is P

[2019-07-08 19:34] Sonphil opened #65 "Overlay permission considered not granted after enabling it"
After having granted the overlay permission, it's still considered as not granted.

[ScreenRecordingPermissionHelper](https://github.com/Buglife/buglife-android/blob/071371ad4b45e6a671338bcfd64f7c0cd18e67b0/src/main/java/com/buglife/sdk/screenrecorder/ScreenRecordingPermissionHelper.java) checks the `resultCode` to know whether the permission has been granted or not [here](https://github.com/Bugli

[2019-07-10 22:23] danhd123 commented on #64
Hi Duncan,

We're seeing other customers who are using the latest Buglife Android SDK and submitting bugs with both a user identifier and a user email without issues. Can you paste all of the Buglife-relevant lines of your `Application.onCreate()` (minus your API key, of course).

[2019-07-10 23:48] duncancarroll commented on #64
I see what's going on here.  The value passed to `BugLife.setUserEmail()` is nullable, so if you set a null value it will remove that from the dashboard.  That explains what's happening, thanks.

I'll submit a PR to add that to the documentation.

[2019-07-10 23:48] #64 closed

[2019-07-18 13:36] oferRounds opened #67 "MainApplication: fail to import sdk.Buglife"
![image](https://user-images.githubusercontent.com/1477963/61461789-b71c6200-a971-11e9-889a-db3e62328893.png)

Any idea?

[2019-07-18 13:36] oferRounds commented on #67
It seems everything is in place

[2019-07-18 13:37] oferRounds commented on #67
[code]

[2019-07-18 13:41] oferRounds commented on #67
Perhaps it’s a gradle version issue? What‘s the max one buglife supports?

[2019-08-17 03:54] #65 closed

[2019-10-25 17:55] duncancarroll opened #68 "Record video fails on Android 10"
Repro steps: Use BugLife screen record feature on an Android 10 phone.

[code]

[2019-10-25 18:14] duncancarroll opened #69 "Screenshot feature fails on Android 10"
Repro: Run Buglife on an Android 10 phone, enable bug reporting by screenshot, and take a screenshot.

Results in the following stacktrace:
[code]

I believe this crash is expected behavior in phones targeting Android 10, as it has restricted app access to system directories and changed the API such that the user must grant access to that specific directory, rather than a blanket grant to `READ_EX

[2019-12-05 18:13] duncancarroll commented on #69
Note that adding `android:requestLegacyExternalStorage="true"` as instructed in the README unfortunately does not solve this issue on Android 10.

[2020-02-09 19:26] mateuszkwiecinski opened #72 "AndroidX artifacts"
Most of recent libraries exposes their artifacts with AndroidX dependencies.
Would it be possible to start shipping Buglife with transformed dependencies?

[2020-03-05 19:59] mateuszkwiecinski opened #74 "Memory leak cause by the library"
According to Leak Canary logs using the Buglife library causes a memory leak as it holds strong reference to an activity.

[2020-06-24 09:30] Tech4Life-salman opened #77 "Caused by: java.lang.SecurityException: Media projections require a foreground service of type ServiceInfo.FOREGROUND_SERVICE_TYPE_MEDIA_PROJECTION"
On Android 10 application is crash after giving permission of Screen Capture with following error
 Caused by: java.lang.SecurityException: Media projections require a foreground service of type ServiceInfo.FOREGROUND_SERVICE_TYPE_MEDIA_PROJECTION
error is on this line
 this.mMediaProjection = mProjectionManager.getMediaProjection(this.result, this.data);
Although I added foreground permission in m

[2020-10-11 00:25] dgcoffman opened #78 "java.lang.NullPointerException Attempt to invoke virtual method 'int android.graphics.Bitmap.getWidth()' on a null object reference"
On Android 11, submitting a report w/ a screenshot attached crashes with

[code]

We have
[code]

[2020-10-20 18:42] dgcoffman commented on #78
@schukin @danhd123 Is this maintained?

[2020-10-20 23:53] schukin commented on #78
@dgcoffman thanks for reporting this! We'll be shipping an update next week that should resolve this issue.

[2020-10-26 05:34] danhd123 commented on #78
Fixed in 722008ee. New binary pending.

[2020-10-26 05:34] #78 closed

[2020-11-11 11:36] oferRounds opened #79 "Shake is too sensitive"
We get complains from Android users that report popup comes up when they did not intended it to
Is there an option to make it less sensitive?

[2021-01-15 17:19] Dave181295 opened #80 "Screenshot doesn't see recyclerView border"
Hello, when shaking, the screenshot is taken but without the recyclerView special effects  (elevation, corners,etc..) so its look totally different.. any idea who ?

[2021-01-15 17:22] Dave181295 opened #81 "InvocationMethod.Screenshot doesn't work on Xiaomi device (Android 10)"

[2021-01-17 05:38] oferRounds commented on #79
hi @schukin
Any idea how to solve this issue?

[2021-03-01 13:00] hossambusiness commented on #68
any fix for this yet?

[2021-03-01 13:00] hossambusiness commented on #77
any fix?

[2021-03-16 09:13] ioviov commented on #79
The same problem : (
Please help us

[2021-04-15 09:50] schukin commented on #79
This is now resolved in v1.5.3. Thanks everyone!

[2021-04-15 09:50] #79 closed

[2021-04-18 15:28] oferRounds commented on #79
Hi @schukin
Can you update also the React Native repo?

[2021-04-21 19:23] mateuszkwiecinski commented on #74
The library isn't maintained anymore. Closing due to inactivity 🤷

[2021-04-21 19:23] #74 closed

[2021-04-21 19:24] mateuszkwiecinski commented on #72
The library isn't maintained anymore. Closing due to inactivity 🤷

[2021-04-21 19:24] #72 closed

[2021-04-23 13:18] LukasJuodeika opened #83 "Remove requestLegacyExternalStorage"
Google Play does not allow `requestLegacyExternalStorage` without special permit for apps targeting Android 11+

[2021-05-27 09:23] usamir opened #84 "ScreenshotAnnotatorActivity crash on AnnotationView"
Our app which is using buglife is crashing with following stacktrace:
Fatal Exception: java.lang.NullPointerException
Attempt to read from field 'float android.graphics.PointF.x' on a null object reference
com.buglife.sdk.AnnotationView.onSingleTouchEvent (AnnotationView.java:199)
com.buglife.sdk.AnnotationView.onTouchEvent (AnnotationView.java:120)
android.view.View.dispatchTouchEvent (View.java:

[2021-05-27 09:39] oferRounds commented on #79
@schukin it seems the shake is still too sensitive, we keep getting complains from users :\